

$firstcol : #2b90d9;
$secondcol : #282c37;
$thirdcol : #9baec8;
$fourcol : #d9e1e8;
$section1 : #fff;



/*

Blue
Blackish
Light Blue
Light grey

font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Ubuntu', sans-serif;


*/

// Logo font: ReklameScript;

$basicfont: 'Lato','verdana','sans-serif';
$headerfont: 'Oswald', cursive;
$thirdfont: 'Ubuntu', sans-serif;

$basefontsize: 16px;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;
